body{
    background-color: black;
}
.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 73, 70);
    gap: 16px;
}

.title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.scoreboard{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
}

.gameContainer{
    display: flex;
    flex-direction: row;
    margin: 32px;
    justify-content: space-between;
    gap: 16px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ladder{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-self: baseline;
    color: rgb(158, 25, 25);
    font-weight: bolder;
    font-size: large;
    border-radius: 8px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
}

.actionPane{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.previousRound{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: fit-content;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-self: center;
    justify-content: center;
}

h1{
    font-size: 52px;
    align-self: center;
    margin: 0px;
}

h3{
    font-size: 36px;
    align-self: center;
    margin: 0px;
}
h5{
    font-size: 22px;
    margin: 0;
}

.player{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 8px;
}

.rock{
    background-image: url("images/rock.png");
}

button{
    border-style: groove;
    border-color: rgb(152, 25, 25);
    background-color: rgb(75, 73, 70);
}

.CPU{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fit{
    width: fit-content;
}

p{
    margin: 0px;
}